#app {
    main {
        @include r-1200 {
            display: flex;
        }
        .logo_container {
            margin: 0 auto;
            width: 300px;
            height: 220px;
            @include r-768 {
                width: 500px;
                height: 300px;
            }
            @include r-1200 {
                flex-basis: 50%;
            }
            img {
                width: 300px;
                height: 260px;
                @include r-768 {
                    width: 500px;
                    height: 380px;
                }
            }
        }

        .container {
            text-align: center;
            position: relative;
            @include r-1200 {
                flex-basis: 50%;
                background-color: $pink;
            }
            .form_container {
                @include r-1200 {
                    position: absolute;
                    top: 20%;
                    left: 10%;
                }
                .form {
                    @include r-1200 {
                        text-align: start;
                    }
                    .input_container {
                        margin-bottom: 10px;
                        input {
                            padding: 10px 15px 10px 0;
                            width: 80%;
                            border: none;
                            border-bottom: 2px solid $dark_grey;
                            margin-bottom: 15px;
                            font-size: 14px;
                            font-family: $font_2;
                            &.change_color {
                                border-bottom: 2px solid $red;
                            }
                            @include r-1200 {
                                border-bottom: none;
                                padding: 15px 20px;
                            }
                        }
                        
                    }
                    .send_container {
                        @include r-1200 {
                            display: flex;
                        }
                        .link {
                            text-decoration: none;
                            font-weight: 500;
                            color: $red;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }  
            }
        }
    }
}