/* variables */
/* colors */
/* mixins */
/* font & icons */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
h1 {
  font-family: "Mukta", sans-serif;
  font-size: 26px;
  color: #3d3d3d;
  margin: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
    text-align: start;
    margin-bottom: 15px;
    color: #FD2D01;
  }
  h1::after {
    content: "";
    display: block;
    border-bottom: 4px solid #ffffff;
    width: 60px;
    transform: translateY(-14px);
  }
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #3d3d3d;
}
@media (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

/* font & icons */
.button {
  padding: 11px 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background: #FD2D01;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
}
.button:hover {
  border: 3px solid #FD2D01;
  background: transparent;
  color: #FD2D01;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .button {
    margin-right: 15px;
    background: transparent;
    border: 3px solid #FD2D01;
    color: #FD2D01;
  }
  .button:hover {
    border: none;
    background: #FD2D01;
    color: #ffffff;
  }
}

/* body */
body {
  margin: 0;
}

/* header */
/* page login & signup */
@media (min-width: 1200px) {
  #app main {
    display: flex;
  }
}
#app main .logo_container {
  margin: 0 auto;
  width: 300px;
  height: 220px;
}
@media (min-width: 768px) {
  #app main .logo_container {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1200px) {
  #app main .logo_container {
    flex-basis: 50%;
  }
}
#app main .logo_container img {
  width: 300px;
  height: 260px;
}
@media (min-width: 768px) {
  #app main .logo_container img {
    width: 500px;
    height: 380px;
  }
}
#app main .container {
  text-align: center;
  position: relative;
}
@media (min-width: 1200px) {
  #app main .container {
    flex-basis: 50%;
    background-color: #FFD7D7;
  }
}
@media (min-width: 1200px) {
  #app main .container .form_container {
    position: absolute;
    top: 20%;
    left: 10%;
  }
}
@media (min-width: 1200px) {
  #app main .container .form_container .form {
    text-align: start;
  }
}
#app main .container .form_container .form .input_container {
  margin-bottom: 10px;
}
#app main .container .form_container .form .input_container input {
  padding: 10px 15px 10px 0;
  width: 80%;
  border: none;
  border-bottom: 2px solid #3d3d3d;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
#app main .container .form_container .form .input_container input.change_color {
  border-bottom: 2px solid #FD2D01;
}
@media (min-width: 1200px) {
  #app main .container .form_container .form .input_container input {
    border-bottom: none;
    padding: 15px 20px;
  }
}
@media (min-width: 1200px) {
  #app main .container .form_container .form .send_container {
    display: flex;
  }
}
#app main .container .form_container .form .send_container .link {
  text-decoration: none;
  font-weight: 500;
  color: #FD2D01;
}
#app main .container .form_container .form .send_container .link:hover {
  text-decoration: underline;
}

/* page userprofile */
.user_profile form {
  display: none;
}
.user_profile form.active {
  display: block;
}

/* footer */

/*# sourceMappingURL=style.css.map */
